.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-rodape);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.logo-rodape {
    margin-bottom: 1rem;
}

.redes-sociais {
    display: flex;
}

.midias {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

.nav-rodape {
    color: var(--branco);
    text-align: center;
    line-height: 2;
}

.link-rodape {
    display: inline-block;
    margin: 0 .5rem .7rem;
}
